@media(max-width: 768px){


    .welcome{
        width: 100%; height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .imglogo{
        display: none;
        width: 50%;
        background-image: url("../img/outros/logo2.png");
    }

    .textlogo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        background-color: white;
        height: 100%;
        color: orange
    }

  
    .redesocial{
        font-size: 18pt;
    }

    .abautme{
        margin-bottom: 20px;
        background-color:#FFC107;
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        padding:15px;
        text-align: justify;
        flex-direction: column;
    }

    .barBackFront{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .barBackFront-back{
        width: 65%;
        background: red;
    }
    .barBackFront-front{
        width: 35%;
        background: rgb(76, 0, 255);
    }


    .perfilfoto{
        border-radius: 50%;
        width: 80%;
       
    }

    

    .whatIdo{
        width: 100%;
        padding-top: 15px;
        height: 800px;
        background-color: white;

        
    }
    .whatIdo-div{
      
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        

    }


    .whatIdo-div1{
        width: 90%;
   
        background-position: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 5px;



    }
    .whatIdo-div1 img{
        width: 45%;
       
    }
    .whatIdo-div2{
        width: 90%;
        
        background-position: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 5px;
   


    }

    .whatIdo-div2 img{
        width: 45%;
        
    }

    .whatIdo-div3{
        width: 90%;
        
        background-position: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 5px;
        

    }

    .whatIdo-div3 img{
        width: 45%;
       
    }

    .limitecarrossel{
        padding-top: 15px;
        padding-bottom: 15px;
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        
    }
    .limitecarrossel img{max-height: 390px; max-width: 70%;}

    .areaportifolio{
        width: 100%;
        background-color: #f7a841;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        
        
    }

    .area-carrossel{
        width: 100%;
        height: 390px;

    }

    .contact{
        background-color: #e9e9e9;
        padding: 20px;
    }

    .container{
        text-align: center;
        background-color: #FFC107;
        border-radius: 10px;
        margin-top: 30px;
        width: 100%;
    }
    .creditos{
        text-align: center;
        background-color: #FFC107;
    }






}









@media(min-width: 769px){

    .welcome{
        width: 100%; height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .imglogo{
        display: none;
        width: 50%;
        background-image: url("../img/outros/logo2.png");
    }

    .textlogo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        background-color: white;
        height: 100%;
        color: orange
    }

  
    .redesocial{
        font-size: 18pt;
    }

    .abautme{
        margin-bottom: 20px;
        background-color:#FFC107;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        padding:15px;
        text-align: justify;
        
    }
    
    .barBackFront{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .barBackFront-back{
        width: 70%;
        background: red;
    }
    .barBackFront-front{
        width: 30%;
        background: rgb(76, 0, 255);
    }


    .perfilfoto{
        border-radius: 50%;
        width: 40%;
       
    }


    .whatIdo{
        width: 100%;
        padding-top: 15px;
        height: 500px;
        background-color: white;

        
    }
    .whatIdo-div{
      
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }


    .whatIdo-div1{
        width: 35%;
        
        background-position: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 5px;



    }
    .whatIdo-div1 img{
        width: 45%;
       
    }
    .whatIdo-div2{
        width: 35%;
        
        background-position: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 5px;


    }

    .whatIdo-div2 img{
        width: 45%;
       
    }

    .whatIdo-div3{
        width: 35%;
        
        background-position: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 5px;

    }

    .whatIdo-div3 img{
        width: 45%;
       
    }

    .limitecarrossel{
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        
    }
    .limitecarrossel img{max-height: 390px; max-width: 70%;}

    .areaportifolio{
        width: 25%;
        background-color: #f7a841;
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .area-carrossel{
        width: 70%;
        height: 390px;

    }

    .contact{

        padding: 20px;
        background-color: #cee9ff;
        border-radius: 25px;
    }

    .creditos{
        text-align: center;
        background-color: #FFC107;
    }


}
