.container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    max-width: 1440px;
    flex-wrap: wrap;
    padding-left: 20px;
}

.card{
    border-radius: 10px;
    width: 23%;
    overflow: hidden;
    border: 1px solid var(--textWhite);
    margin: 10px;
    background-color: var(--backgroundSections);
    
}

.card_container_img{
    width: 100%;
    overflow: hidden;
    height: 220px;
}

.card_img{
 width: 100%;
 height: 100%;
 transition: 0.4s ease;
 margin-bottom: 15px;
 
 
}

.card_img:hover{
    transform: scale(110%);
    transition: 0.4s ease;

}

.card_infos{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_infos_title{
    text-align: center;
    color: var(--textWhite);
    font-size: 1rem;
    margin-top: 10px;
}

.card_infos_links_title{
    text-align: center;
    color: var(--textWhite);
    font-size: 0.7rem;
    margin-top: 10px;
}

.card_infos_links_icons{
    margin: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(214deg) brightness(105%) contrast(102%);
}

.card_infos_links_icons:hover{
    filter: invert(37%) sepia(42%) saturate(2932%) hue-rotate(327deg) brightness(93%) contrast(94%)
}

@media (max-width:768px){
    .container{
        flex-direction: column;
        justify-content:center;
        padding-left: 0px;


    }
    .card{
        width: 90%;
    }

    .card_img{
        height: auto;
    }
}