.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0px;
    max-height: 350px;
    overflow: hidden;
    flex-direction: row-reverse;
}


.imgProject{
    max-width: 50%;
    overflow: hidden;
    margin: 5px;
    width: 50%;
    background-color: var(--backgroundSections);
   

}
.imgProject img{
    width: 100%;
    transition: 0.4s ease;

    

}

.imgProject img:hover{
    transform: scale(110%);
    transition: 0.4s ease;

}

.description_item{
    width: 45%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--backgroundSections);
    min-height: 350px;
}
.container_titles{
    display: flex;
    padding: 15px;
}

.titles_div{
    padding-top: 5px;
}

.title{
    color: vaR(--textWhite);
    font-size: 1.2rem;
}
.description_text{
    display: block;
    text-align: justify;
    color: var(--textWhite);
    padding: 10px 30px;
    text-indent: 2rem;
}

.type{
    font-size: 0.7rem;
    color: var(--textWhite);
}

.list_item{
    color: var(--textWhite);
    margin: 15px;
    display: flex;
    flex-wrap: wrap;

    
    

}

.list_item li{
    border-radius: 10px;
    text-align: center;
    display:inline;
    padding: 10px;
    font-size: 0.9rem;
    margin: 5px;

}

.list_item li img{
    width: 24px;
    height: 24px;
}

.icon{
    color: var(--textWhite);
    font-size: 4.5rem;
    position: relative;
}

@media (max-width:768px){

    .container{
        max-width: 768px;  
    }

    .item{
        max-width: 768px;
        flex-direction: column;
        max-height: none;
        overflow: hidden;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .imgProject{
        max-width: 80%;
        border-radius: 15px;

    }

    .description_item{
        width: 100%;
    }

    .title{
        text-align: center;

    }
    
    .type{
        text-align: center;
    }
}