.container{
    padding-top: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    max-width: 1440px;
    
}

.section_one{
    width: 47%;
    height: 100%;
    padding: 100px 20px 20px 20px;
}

.section_two{
    width: 47%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px 20px 20px;

}

.container_img_person{
    width: 100%;
    text-align: left;
}

.img_person{
    width: 215px;
    height: 215px;
    border-radius: 50%;
    background-color: #1B1B1C;
    padding: 20px;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    color:var(--textWhite);
    margin: 5px 0px;
}

.text{
    display: block;
    text-align: justify;
    color: var(--textWhite);
    font-weight: 400;
}

.img_cover{
    width: 90%;
    
}

@media screen and (max-width:768px){
    .container{
        margin-top: 5px;
        flex-direction: column;
        width: 100%;
        padding-top: 5px;
       
    }
    .section_one{
        width: 100%;
        justify-content: center;
    }
    .section_two{
        width: 100%;
        justify-content: center;
    }
    .container_img_person{
        text-align: center;
    }
    .title{
        text-align: center;
    }


}
