@keyframes rotateItems {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

.container{
    width: 100%;
    margin: 10px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 10px;
    
}

.skill{
    width: 28px;
    filter: grayscale(80%);
    filter: opacity(30%);
    transition: 0.3 ease;
    animation: rotateItems 10s infinite;
}

.skill:hover{
    filter: grayscale(0%);
    filter: opacity(100%);
    transition: 0.3 ease;

}

