.container{
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    transition: 0.5s ease;
}

.item:hover{
    transform: scale(120%);
    transition: 0.5s ease;
}