 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
  --background: #161617;
  --backgroundSections: #1B1B1C;
  --backgroundSectionsTransparent: #1b1b1cf1;
  --textWhite: #E3E3DC;
  --redPink:#E22741;
  --titleSection: #2B2B2B;

}

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  text-decoration: none;


}

:target{
  scroll-margin-top: 1em;
  color:var(--redPink);
}

body{
  background-color: var(--background);
}
