.container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--backgroundSections);
    width: 100%;
    z-index: 100;


}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    margin: 20px 26px;
    width: 241px;
    height: 77px;
    cursor: pointer;
    transition: 0.5s ease;

}
.logo:hover{
    filter: brightness(150%);
    transition: 0.5s ease;
}

.menu{
    margin-left: 100px;
    display: flex;
    
}

.menu a{
    color: var(--textWhite);
    margin-right: 70px;
    padding-bottom: 0px;
    padding: 5px;
    transition: 0.5s ease;
    background-color: green;
    
    

}

.menuSelected{
    border-bottom: solid 2px var(--redPink);
    transition: 0.5s ease;
    
}

